# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Test CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  type-check:
    runs-on: ubuntu-latest

    steps:
      - name: check-out the repository
        uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'npm'

      - name: check types
        run: npm run type-check

  linter:
    runs-on: ubuntu-latest

    steps:
      - name: check-out the repository
        uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'npm'

      - name: run linter
        run: npm run lint

  build:
    needs: [type-check, linter]
    runs-on: ubuntu-latest

    steps:
      - name: check-out the repository
        uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'npm'

      - name: build (ci)
        run: npm ci
